# PostgreSQL Database Configuration
# Format:
# postgresql://<username>:<password>@<host>:<port>/<database>

DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<database>

# Example
# DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/cloudapp

# HALOO